.main-app-header {
  margin-top: 20px;
  color: white;
  font-size: 50px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.main-app-header {
    background-color: #1da1f2; 
    height: 25%;
}

.imageToShow {
    width: auto;
    height: 130px;
    border: 3px solid #1da1f2;
}

.box {
    display: flex;
    align-items:center;
 }

.dash-body {
  background-color: rgba(0, 123, 255, 0.18); 
}

.dashboard-text {
    margin-left: 32%;
    font-size: 25px;
    color: #1da1f2;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-right:15px;
}

.tweet-text {
    font-size: 22px;
    color: black;
}

.tweet-desc {
    margin-left: 20%;
    font-size: 25px;
    color: #1da1f2;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-right:15px;
}

.btn-outline-secondary {
    color: #1da1f2 !important;
}

.btn-outline-secondary:hover {
    color: white !important;
    background-color: #1da1f2 ;
}

.dashboard-body {
    height: 1000px;
    padding-top:10px;
}

.mainTweetContainer {
    background-color: rgba(0, 123, 255, 0.18); 
    margin-left:300px;
    margin-right: 300px;
    border-bottom: 1px solid #1da1f2;
    padding-left: 50px;
    padding-right: 50px;
}

.tweetInfoContainer {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}