<!--The content below is only a placeholder and can be replaced.-->
<div class="main-app-header" style="text-align:center">
  <h1 class="main-app-header">
    Tweets with pics
  </h1>
</div>

<!-- <ngb-carousel class="image-carousel" *ngIf="tweets">

  <ng-template ngbSlide>
    <img [src]={tweet.tweetImage}>
    <div class="carousel-caption">
      <span>By: Chris Shatrov</span>
    </div>
  </ng-template>

</ngb-carousel> -->

<div *ngIf="tweets">
    <div *ngFor="let tweet of tweets | async">
        <img [src]="tweet.tweetImage">
    </div>
</div>

<div class="dash-body dashboard-body">
  <app-dash></app-dash>
</div>

<router-outlet></router-outlet>
